<div id=sidebar>
    <h1 class="h1_sidebar">{{ site.title | default: site.github.repository_name }}</h1>
    <h2 class="h2_sidebar">{{ site.description | default: site.github.project_tagline }}</h2>
  <ul class="tree">
    {% for dept in site.departments %}
      <li class="tree-item">
        <button class="tree-toggle">{{ dept.name }}</button>
        <ul class="tree-children">
          {% for subject in dept.subjects %}
            <li class="tree-item">
              <button class="tree-toggle">{{ subject.name }}</button>
              <ul class="tree-children">
                {% for page in subject.pages %}
                  <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
</div>
