---
---

@import "jekyll-theme-dinky";
.wrapper {
  /* your overrides here if needed */
}
#sidebar {
  background-color: #f4f4f4;
  outline: 2px solid #333;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
