---
---

@import "jekyll-theme-dinky";
.wrapper {
  margin-left: 220px;
  /* your overrides here if needed */
}
#sidebar {
  float: left; 
  width: 200px;
  background-color: #f4f4f4;
  /* outline: 2px solid #333; */
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.h1_sidebar {
  color: black;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.h2_sidebar {
  color: black;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
